@charset "UTF-8";
@font-face {
    font-family: ancizar;
    src: url(fontes/AncizarSerif-Regular.ttf);
}
@font-face {
    font-family: bebas;
    src: url(fontes/BebasNeue-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --rosa: #F37475;
    --salmão: #F6D4A4;
    --laranja: #E9714F;
    --menta: #40F99B;
    --verde: #329F5B;
    --vermelho: #ec3059;

    --bebas: 'bebas', serif;
    --ancizar: 'ancizar', sans-serif;
    --padrao: 'arial', sans-serif;;
}

body {
    background-color: var(--salmão);
    font-family: var(--padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--laranja) 55%, var(--vermelho));
    min-height: 120px;
}

header > h1 {
    font-family: var(--bebas);
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.411);
    padding: 20px 0px 0px 0px;
}

header > p {
    font-family: var(--ancizar);
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.466);
}

nav {
    background-color: var(--vermelho);
    padding: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.315);
}

nav > a {
    color: var(--salmão);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0px 10px;
    padding: 5px;
} 

nav > a:hover {
    background-color: var(--salmão);
    color: var(--vermelho);
    border-radius: 5px;
    transition-duration: 0.3s;
}

main {
    background-color: white;
    line-height: 2em;
    max-width: 800px;
    margin: auto;
    text-align: justify;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    font-family: var(--ancizar);
    color: var(--vermelho);
    padding: 10px;
    font-size: 2.3em;
}

main h2 {
    font-family: var(--ancizar);
    color: var(--salmão);
    background-image: linear-gradient(to right, var(--vermelho), transparent);
    padding: 2px 5px;
    text-indent: 10px;
    margin: 15px 5px;
    border-radius: 3px;
}

main p {
    text-indent: 40px;
}

img {
    display: block;
    margin: auto;
}

main strong {
    color: var(--vermelho);
    background-color: var(--salmão);
    padding: 3px 8px;
    border-radius: 3px;
}

div.discos {
    background-color: var(--salmão);
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px 0px 10px;
    width: 45%;
    display: inline-block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.315);
}

div.discos > ul {
    list-style-position: inside;
    margin: 10px;
    text-indent: -5px;
    text-align: left;
}

div.discos > h2 {
    background-color: var(--vermelho);
    margin: -20px -10px 0px -10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.404);
}

div.discos li:hover {
    background-color: var(--rosa);
    margin: 0px -20px;
    text-indent: 15px;
    transition-duration: 0.5s;
}

div.descrição {
    background-color: var(--salmão);
    padding: 10px;
    border-radius: 10px;
    margin: 20px 10px 0px 15px;
    width: 45%;
    display: inline-block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.315);
    align-items: end;
}

div.descrição > h2 {
    background-color: var(--vermelho);
    margin: -20px -10px 20px -10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.404);
}

div.descrição > p {
    text-indent: 25px;
    text-align: left;
}

div.descrição > img {
    width: 236px;
    height: 236px;
    margin-bottom: 10px;
}

aside {
    background-color: var(--salmão);
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.349);
}

aside > h3 {
    background-color: var(--vermelho);
    padding: 2px 10px;
    margin: -10px -10px 10px -10px;
    border-radius: 5px 5px 0px 0px;
    font-family: var(--ancizar);
    font-size: 1.7em;
    text-indent: 10px;
    color: var(--salmão);
}

aside strong {
    background-color: var(--vermelho);
    color: var(--salmão);
}

aside > ul {
    list-style-position: inside;
}

footer {
    background-color: var(--vermelho);
    margin-top: 30px;
    text-align: center;
    color: white;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
