@charset "UTF-8";
@font-face {
    font-family: passion;
    src: url(fontes/PassionOne-Bold.ttf);
}
@font-face {
    font-family: sriracha;
    src: url(fontes/Sriracha-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'sriracha', cursive, sans-serif;
}

header {
    background-color: black;
    min-height: 170px;
    max-height: 190px;
    color: white;
    position: relative;
}

h1 {
    font-family: 'passion', 'Times New Roman', Times, serif;
    font-size: 3.5em;
    text-align: center;
    padding: 40px 0px 10px 0px;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main > p {
    font-size: 1.4em;
    width: 400px;
    margin: 80px 30px;
}

section#container1 {
    background: darkgreen url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    height: 450px;
    position: relative;
}

article#conteudo1 {
    background-color: rgba(0, 0, 0, 0.356);
    width: 270px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 1.4em;
    color: white;
    padding: 5px;
    text-shadow: 2px 1px 0px black;
}

section#container2 {
    background: lightgoldenrodyellow url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
    height: 450px;
    position: relative;
}

article#conteudo2 {
    background-color: rgba(0, 0, 0, 0.356);
    width: 270px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 1.4em;
    color: white;
    padding: 5px;
    text-shadow: 2px 1px 0px black;
}

footer {
    background-color: black;
}
footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 11px;
    text-align: center;
}



footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}