@charset "UTF-8";

body {
    background-image: linear-gradient(to right,#00A878, #007749);
    height: 100%;
    background-attachment: fixed
}
main {
    background-color: #C9FBFF;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}
h1 {
    color: #29527a;
}
h2 {
    color: #e08816;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}